.main__latest {
    display: flex;
    margin-top: 20px;
}

.latest__text {
margin-left: 380px;
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 69px;
color: #FFFFFF;
margin-left: auto;
margin-right: auto;
}



