<header class="header">
  <div class="container">
    <a class="header__logo" href="./index.html">
      <span class="logo__text">DubaiRealty</span>
    </a>
    <nav class="header__navigation">
      <ul class="header__nav list">
        <li class="nav__elem">
          <a class="nav_link link" href="./index.html">Buy</a>
        </li>

        <li><a class="nav_link link" href="./index.html">Blog</a></li>
        <li><a class="nav_link link" href="./index.html">About</a></li>
        <li><a class="nav_link link" href="./index.html">Contact</a></li>
      </ul>
    </nav>
    <button class="header__button" type="button">Book a consultation</button>
    <a class="header__tel link" href="tel:+380961111111">+380961111111</a>
  </div>
</header>
